<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Admin Homepage - Start Bootstrap Template</title>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/confrimbox_reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="~/Content/confirmbox_style.css"> <!-- Resource style -->
    <script src="~/Scripts/modernizr-2.8.3.js"></script> <!-- Modernizr -->
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .wrapper {
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }

        .main-content {
            padding: 20px;
            /* Set a minimum height to fill at least the viewport */
            min-height: calc(100vh - 143px); /* 100px for header and footer height */
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container px-4 px-lg-5">
                @Html.ActionLink("eStore.com", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item">@Html.ActionLink("Home", "Dashboard", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Users", "Users", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Products", "Products", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Sales", "SalesHistory", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                    @{
                        EStore.Models.User user = (EStore.Models.User)Session[EStore.Models.User.UserSessionString];
                        <div class="dropdown" style="margin-left:2%">
                            <button class="btn btn-outline-dark dropdown-toggle" type="button" id="customDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Hi Admin, @user.UserName
                            </button>
                            <div class="dropdown-menu mt-1" aria-labelledby="customDropdown">
                                <a class="dropdown-item" href="@Url.Action("Logout", "Login")">Logout</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </nav>
        <div class="container body-content main-content mt-5">
            @RenderBody()
        </div>
        <!-- Footer Start-->
        <footer class="bg-dark text-center text-white">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: Social media -->
                <section class="mb-4">
                </section>
                <!-- Section: Social media -->
            </div>
            <!-- Grid container -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2023 Copyright:
                <span style="color:aliceblue">eStore.com</span>
            </div>
        </footer>
        <!--Footer End-->
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // Variables to store the previous scroll position and the navbar element
        var prevScrollPos = window.pageYOffset;
        var navbar = document.querySelector(".navbar");

        // Add an event listener to the window scroll event
        window.addEventListener("scroll", function () {
            // Get the current scroll position
            var currentScrollPos = window.pageYOffset;

            // Check the scroll direction (scrolling up or down)
            if (prevScrollPos > currentScrollPos) {
                // Scrolling up, show the navbar
                navbar.classList.remove("d-none");
            } else {
                // Scrolling down, hide the navbar
                navbar.classList.add("d-none");
            }

            // Update the previous scroll position
            prevScrollPos = currentScrollPos;
        });
    </script>
</body>
</html>
