
@model EStore.Models.User
@{
    ViewBag.Title = "Checkout";
}

<main class="custom-card bg-light mb-3">
    <div class="cd-popup" role="alert">
        <div class="cd-popup-container">
            <p>
                The ordered Items are:
                @{
                    var items = Session[EStore.Models.Cart.CartSessionString] as List<EStore.Models.Cart>;
                    if (items != null)
                    {
                        foreach (var item in items)
                        {
                            <br><strong id="strong-@item.Id">@item.Name - @item.Quantity</strong>
                        }

                    }
                }<br>Procced to order items?
            </p>
            <ul class="cd-buttons">
                <li class="btn"><a href="#0" class="text-decoration-none" onclick="document.getElementById('submitButton').click(); return false;">Place Order</a></li>
                <li class="btn"><a href="#0" class="cd-popup-close-btn text-decoration-none">Cancle</a></li>
            </ul>
            <a href="#0" class="cd-popup-close img-replace">Close</a>
        </div> <!-- cd-popup-container -->
    </div> <!-- cd-popup -->
    <!-- Heading -->
    <h2 class="mt-5 mb-3 text-center">Checkout form</h2>
    @using (Html.BeginForm("PlaceOrder", "Home", FormMethod.Post))
    {
        <button type="submit" id="submitButton" style="display:none;"></button>
        <div class="container custom-card-inner p-3 mb-3">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-8 mb-4">
                    <!--Card-->
                    <div class="card p-4">
                        <!--Grid row-->
                        <div class="row mb-3">
                            <!--Grid column-->
                            <div class="col-md-6 mb-2">
                                <!--firstName-->
                                <div class="form-outline">
                                    @Html.TextBoxFor(m => m.FirstName, new
                                    {
                                        @class = "form-control",
                                        placeholder = "Firstname",
                                        required = "Firstname",
                                        value = Model.FirstName
                                    })
                                    <label class="form-label" for="typeText">First name<span class="text-danger"> *</span></label>
                                </div>
                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-md-6 mb-2">
                                <!--lastName-->
                                <div class="form-outline">
                                    @Html.TextBoxFor(m => m.LastName, new
                                    {
                                        @class = "form-control",
                                        placeholder = "Lastname",
                                        required = "required",
                                        value = Model.LastName
                                    })
                                    <label class="form-label" for="typeText">Last name<span class="text-danger"> *</span></label>
                                </div>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                        <!--Username-->
                        <p class="mb-0">
                            Username<span class="text-danger"> *</span>
                        </p>
                        <div class="input-group mb-4">
                            <input type="text" disabled class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" value="@Model.UserName" />
                            @Html.HiddenFor(m => m.UserName)
                        </div>

                        <!--email-->
                        <p class="mb-0">
                            Email<span class="text-danger"> *</span>
                        </p>
                        <div class="form-outline mb-4">
                            @Html.TextBoxFor(m => m.EmailAddress, new
                            {
                                @class = "form-control",
                                placeholder = "Email Address",
                                required = "required",
                                value = Model.EmailAddress
                            })
                        </div>

                        <!--address-->
                        <p class="mb-0">
                            Address
                        </p>
                        <div class="form-outline mb-4">
                            @Html.TextBoxFor(m => m.Address, new
                            {
                                @class = "form-control",
                                placeholder = "1234 Main St",
                                required = "required",
                                value = Model.Address
                            })
                        </div>
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-12 mb-4">
                                <p class="mb-0">
                                    Country
                                </p>
                                <div class="form-outline mb-4">
                                    @Html.TextBoxFor(m => m.Country, new
                                    {
                                        @class = "form-control",
                                        placeholder = "India",
                                        required = "required",
                                        value = Model.Country
                                    })
                                </div>
                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-12 mb-4">
                                <p class="mb-0">
                                    State
                                </p>
                                <div class="form-outline mb-4">
                                    @Html.TextBoxFor(m => m.State, new
                                    {
                                        @class = "form-control",
                                        placeholder = "Kerla",
                                        required = "required",
                                        value = Model.State
                                    })
                                </div>
                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-12 mb-4">
                                <p class="mb-0">
                                    Zip<span class="text-danger"> *</span>
                                </p>
                                <div class="form-outline">
                                    @Html.TextBoxFor(m => m.ZipCode, new
                                    {
                                        @class = "form-control",
                                        placeholder = "Zipcode",
                                        required = "required",
                                        value = Model.ZipCode
                                    })
                                </div>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->

                        <hr />

                        <div class="my-3">
                            <div class="form-check">
                                @Html.RadioButton("paymentType", "Credit Card", new {@class="form-check-input", @checked = "checked" })
                                <label class="form-check-label" for="flexRadioDefault1"> Credit card </label>
                            </div>

                            <div class="form-check">
                                @Html.RadioButton("paymentType", "Debit Card", new { @class = "form-check-input" })
                                <label class="form-check-label" for="flexRadioDefault2"> Debit card </label>
                            </div>
                            <div class="form-check">
                                @Html.RadioButton("paymentType", "Paytm", new { @class = "form-check-input" })
                                <label class="form-check-label" for="flexRadioDefault3"> Paytm </label>
                            </div>
                        </div>
                        <hr class="mb-4" />
                        @{
                            int cartCount = (int)Session[EStore.Models.Cart.CartCountSessionString];
                            if (cartCount == 0)
                            {
                                <button disabled class="btn btn-primary" type="submit">Continue to checkout</button>
                            }
                            else
                            {
                                <button class="btn btn-outline-dark cd-popup-trigger" type="button">Continue to checkout</button>
                            }
                        }

                    </div>
                    <!--/.Card-->
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-4 mb-4">
                    <!-- Heading -->
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Your cart</span>
                        <span class="badge bg-dark text-white ms-1 rounded-pill" id="checkout-cart-count">@Session[EStore.Models.Cart.CartCountSessionString]</span>
                    </h4>

                    <!-- Cart -->
                    <ul class="list-group mb-3">
                        @{
                            var totalCost = 0;
                            var cartItems = Session[EStore.Models.Cart.CartSessionString] as List<EStore.Models.Cart>;
                            if (cartItems != null)
                            {
                                foreach (var item in cartItems)
                                {
                                    var itemCost = item.Cost * item.Quantity;
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div class="flex-row">
                                            <div>
                                                <h6 class="my-0">@item.Name</h6>
                                                <small class="text-muted">
                                                    Quantity:
                                                    <span class="badge bg-dark text-white ms-1 rounded-pill">@item.Quantity</span>
                                                </small>
                                            </div>
                                            <button type="button" id="@item.Id" class="delete-button btn btn-outline-danger" style="font-size:14px; padding:1px" data-id="@item.Id">Remove</button>
                                        </div>
                                        <span class="text-muted">$@itemCost</span>
                                    </li>
                                    totalCost += itemCost;
                                }
                            }
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Total (USD)</span>
                                <strong id="total-cost">$@totalCost</strong>
                            </li>
                        }
                    </ul>
                    <!-- Cart -->
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
    }
</main>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.delete-button').on('click', function () {
                var itemId = $(this).data('id');
                const strongElement = document.getElementById("strong-" + itemId);
                // Find the parent div element containing the item and remove it from the UI
                var listItem = $(this).closest('li');

                // Update the session variable using AJAX
                fetch('@Url.Action("DeleteCartItems", "Home")', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ id: itemId })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    listItem.remove();
                    $("#total-cost").text("$" + data.total);
                    $("#cart-count").text(data.totalCount);
                    $("#checkout-cart-count").text(data.totalCount);

                    strongElement.style.display = 'none';
                })
                .catch(error => {
                    console.error(error);
                });

            });
        });
    </script>
    <script src="~/Scripts/confirmbox_main.js"></script> <!-- Resource jQuery -->
}
<!--Main layout-->
