@model EStore.Models.Product
@{
    ViewBag.Title = "Product";
}

<!--Main layout-->
<main class="">
        <div class="container mt-2 custom-card bg-light mb-3">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-6 mb-4">
                    <!--Product Image-->
                    <img src="@Model.ImageSrc" class="custom-image-product-view rounded-2"/>
                </div>
                <!--Grid column-->
                <div class="col-md-6 mb-4">
                    <!--Product Content-->
                    <div class="p-4">
                        <!--Product Category-->
                        <a href="">
                            <span class="badge bg-dark me-1">@Model.Category</span>
                        </a>
                        <!--Product Name-->
                        <strong><p style="font-size: 30px;">@Model.Name</p></strong>
                        <strong><p style="font-size: 20px;">Description</p></strong>
                        <!--Product Description-->
                        <p>@Model.Description</p>

                        <p class="lead">
                            <!--Product Cost-->
                            <span>$@Model.Cost</span>
                        </p>
                        @using (Html.BeginForm("Product", "Home", FormMethod.Post))
                        {
                            <form class="d-flex justify-content-left">
                                <!-- Default input -->
                                <div class="form-outline me-1" style="width: 26%;">
                                    <input type="number" value="1" class="form-control" id="addToCartInputBox" name="quantity" />
                                </div>
                                @Html.HiddenFor(m => m.Name)
                                @Html.HiddenFor(m => m.Cost)
                                @Html.HiddenFor(m => m.Category)
                                <button class="btn btn-outline-dark mt-2" type="submit"
                                        id="cartAddButton">
                                    Add to cart
                                    <i class="bi-cart-fill me-1"></i>
                                </button>
                            </form>
                        }
                    </div>
                    <!--Content-->
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
            <hr />
            <!--Grid row-->
            <div class="row d-flex justify-content-center mb-3">
                <!--Grid column-->
                <div class="col-md-7 text-center custom-card-inner px-4">
                    <h4 class="my-4 h4">Additional information</h4>

                    <p>@Model.AdditionalDescription</p>
                </div>
                <!--Grid column-->
            </div>
          </div>
        <script src="~/Scripts/scripts.js"></script>
</main>
