@model EStore.Models.User
@{
    ViewBag.Title = "ResetPassword";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignIn</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="~/Content/LoginStyleSheet.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>
<body>
    <div class="sidenav">
        <div class="login-main-text">
            <h1 style="color:aliceblue;display:inline">eStore</h1>
            <p style="display:inline">.com</p>
            <h2>Reset Password</h2>
            <p>Enter a new password to get access.</p>
        </div>
    </div>
    <div class="main p-lg-5">
        <div class="col-md-6 col-sm-12">
            <div class="login-form">
                @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post))
                {
                    @Html.HiddenFor(u => u.FirstName)
                    @Html.HiddenFor(u => u.LastName)
                    @Html.HiddenFor(u => u.UserName)
                    @Html.HiddenFor(u => u.Type)
                    @Html.HiddenFor(u => u.Address)
                    @Html.HiddenFor(u => u.EmailAddress)
                    @Html.HiddenFor(u => u.Country)
                    @Html.HiddenFor(u => u.State)
                    @Html.HiddenFor(u => u.ZipCode)
                    <form>
                        <div class="form-group">
                            <label>User Name</label>
                            <input value="@Model.UserName" disabled class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            @Html.PasswordFor(m => m.Password, new
                            {
                                @class = "form-control",
                                placeholder = "Password",
                                required = "required",
                            })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @style = "color:red" })
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            @Html.PasswordFor(m => m.ComfirmPassword, new
                            {
                                @class = "form-control",
                                placeholder = "Password",
                                required = "required",
                            })
                            @Html.ValidationMessageFor(m => m.ComfirmPassword, "", new { @style = "color:red" })
                        </div>
                        @if (ViewBag.Error != null)
                        {
                            <p class="text-danger fw-bolder">@ViewBag.Error</p>
                        }
                        @Html.ValidationSummary()
                        <button type="submit" class="btn btn-outline-dark mt-2">Submit</button>
                    </form>
                }
            </div>
        </div>
    </div>
</body>
</html>

