@model PagedList.IPagedList<EStore.Models.User>
@using PagedList.Mvc
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/_LayoutPageAdmin.cshtml";
}

<div class="cd-popup" role="alert">
    <div class="cd-popup-container">
        <p>
            Are you sure you want to delete user?
        </p>
        <ul class="cd-buttons">
            <li class="btn"><a href="#0" class="cd-popup-confirm">Yes</a></li>
            <li class="btn"><a href="#0" class="cd-popup-cancel">No</a></li>
        </ul>
        <a href="#0" class="cd-popup-close img-replace">Close</a>
    </div> <!-- cd-popup-container -->
</div> <!-- cd-popup -->

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase mb-0">Manage Users</h5>
                        </div>
                        <div class="col-auto">
                            <div class="nav-item dropdown" id="dropdown">
                                <button class="btn btn-outline-dark" onclick="toggleDropdown()">
                                    <div class="nav-link dropdown-toggle" id="navbarDropdown">Sort by: @ViewBag.sortBy</div>
                                </button>
                                <ul class="dropdown-menu mt-1" aria-labelledby="navbarDropdown" id="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="@Url.Action("Users", "Admin", new {sortBy = "All", page = Model.PageNumber})">All</a>
                                    </li>
                                    <hr style="margin-top:-1%; margin-bottom:-1%" />
                                    <li>
                                        <a class="dropdown-item" href="@Url.Action("Users", "Admin", new {sortBy = "Admin", page = Model.PageNumber})">Admin</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="@Url.Action("Users", "Admin", new {sortBy = "Customer", page = Model.PageNumber})">Customer</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table no-wrap user-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Name</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Email</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">User Type</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 0;
                                foreach (var user in Model)
                                {
                                    i++;
                                    <tr>
                                        <td class="pl-4">@i</td>
                                        <td>
                                            <h5 class="font-medium mb-0">@user.FirstName @user.LastName</h5>
                                            <span class="text-muted">@user.State, @user.Country</span>
                                        </td>
                                        <td>
                                            <span class="text-muted">@user.EmailAddress</span><br>
                                        </td>
                                        <td>
                                            <span class="text-muted">@user.Type</span><br>
                                        </td>
                                        <td>
                                            <a class="text-info mr-4" href="@Url.Action("EditUser", "Admin", new { userid = user.UserName })">Edit</a>
                                            <a class="text-danger cd-popup-trigger-list" data-item-id="@user.UserName" data-item-url="/Admin/DeleteUser?userid=">Delete</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-dark mt-2 col-md-12 col-xl-12" href="@Url.Action("CreateUser", "Admin")">Create User</a>
</div>

<div>
    @{
        var pagingOptions = new PagedListRenderOptions
        {
            LiElementClasses = new[] { "page-item" },
            UlElementClasses = new[] { "pagination", "custom-pagination" },
            DisplayLinkToFirstPage = PagedListDisplayMode.Never,
            DisplayLinkToLastPage = PagedListDisplayMode.Never,
            LinkToPreviousPageFormat = "<",
            LinkToNextPageFormat = ">",
        };
    }
    @Html.PagedListPager(Model, page => Url.Action("Users", new { page, sortBy = ViewBag.sortBy }), pagingOptions)
</div>
@section Scripts{
    <script>
        function toggleDropdown() {
            var dropdown = document.getElementById("dropdown-menu");
            dropdown.style.display = dropdown.style.display === "none" ? "block" : "none";
        }
    </script>
    <script src="~/Scripts/confirmbox_main.js"></script> <!-- Resource jQuery -->
}